/* Enter your custom styles here */

.sapUiCalItem.sapUiCalItemWeekEnd {
    background-color: #9a9393;
}

.sapMSPCMonthDay.nonWorkingTimeframe {
    background-color: #9a9393;
}

.sapMSPCMonthWeekNumber {
    display: none;
}

.sapMSPCMonthDayNumber {
    color: red;
}

.sapUiCalItem.sapUiCalItemType18 {
    background-color: #06B02F;
}

.sapUiCalItem.sapUiCalItemType02 {
    background-color: #F80404;
}

.sapUiCalItem.sapUiCalItemType01 {
    background-color: #F8B504;
}

.sapUiUnifiedLegendItem.sapUiUnifiedLegendNonWorkingDay {
    display: none;
}

.sapMLIB {
    background: #ffffff;
}